<!--
Шаблон вывода списка категорий галереи

Содержит секции и переменные:

@categories_content - основной блок, который содержит список категорий галереи (@rows)
@rows - блок контента строки категорий галереи
@no_data - блок контента, который выводится в случае, если галерея пуста

Произвольные поля (отрабатываются только в секции @rows):
%custom_field%, %custom_field_value% -  Перменная, которая содержит произвольно поле `custom_field`
@custom_field - блок, который выводится вместо метки произвольного поля
@custom_field_null - блок, который выводится вместо метки произвольного поля, которое не содержит данных

Note: Под `custom_field` подразумевается идентификатор произвольного поля указанный в АИ.

-->

<!-- @custom_field1 -->%custom_field1_value%<!-- @custom_field1_null -->
<!-- @categories_content -->
        <ul>
            <li><a href="/gallery/">Все фото</li>
            %rows%
        </ul>
<!-- @categories_rows --><li><a href="%link%">%name% %custom_field1%</a></li>
<!-- @categories_rows_active --><li><a href="%link%" class="active">%name% %custom_field1%</a></li>
<!-- @no_data -->