<!--
Вывод списка разделов часто задаваемых вопросов

Секции:
@partition_list_begin - шапка списка категорий
@partition_list_line - вывод названия категории
@partition_list_line_active - вывод названия активной категории
@partition_list_line_all - вывод названия категории "Все вопросы"
@partition_list_line_all_active - вывод названия активной категории "Все вопросы"
@partition_list_counter - вывод счётчика записей категории
@partition_list_counter_null - вывод счётчика, если нет записей категории
@partition_list_end - подвал списка категорий

Переменные:
%count% - счётчика записей в блоке @partition_list_counter и @partition_list_counter_null

-->

<!-- @partition_list_begin --><ul>
<!-- @partition_list_line --><li><a href="%link%">%name%%counter%</a></li>
<!-- @partition_list_line_active --><li class="active"><a href="%link%">%name%%counter%</a></li>
<!-- @partition_list_all --><li><a href="%link%">Все вопросы%counter%</a></li>
<!-- @partition_list_all_active --><li class="active"><a href="%link%">Все вопросы%counter%</a></li>
<!-- @partition_list_counter --> (%count%)<!-- @partition_list_counter_null --> (0)
<!-- @partition_list_end --></ul>