<!-- @order_filter_values -->
<option value="%filter_value%" %gselected%>%filter_value_name%</option>

<!-- @order_process_values -->
<option value="%process_value%">%process_value_name%</option>

<!-- @order_process_status -->
<option value="%process_status%" %gselected%>%process_status_name%</option>

<!-- @list -->
<script type="text/javascript">
    function SelectFilterChange() {
        jspub_click('show_orders&op=' + document.getElementById('filter').value);
    }

    function checkall() {
        for (i = 0; i < document.orders.sso.length; i++) {
            document.orders.sso[i].checked = true;
        }
        WithselectedChange();
        return false;
    }

    function uncheckall() {
        for (i = 0; i < document.orders.sso.length; i++) {
            document.orders.sso[i].checked = false;
        }

        return false;
    }

    function WithselectedChange() {
        orderstatus = document.getElementById('withselected').value;
        if (orderstatus != 'none') {
            sso = document.getElementsByClassName('sso');
            for (s = 0; s < sso.length; s++) {
                if (sso.item(s).checked == true) {
                    id = sso.item(s).name;
                    id = id.replace(/[^0-9]+/ig, '');
                    orderstatusfield = document.getElementById('orderstatus[' + id + ']');
                    orderstatusfield.value = orderstatus;
                    MailStatus(id, orderstatus, true);
                    PostidSH(id, orderstatus);
                }
            }
        }
    }

    function MailBoxes() {
        sma = document.getElementsByClassName('sma');
        for (i = 0; i < sma.length; i++) {
            id = sma.item(i).name;
            id = id.replace(/[^0-9]+/ig, '');
            orderstatusfield = document.getElementById('orderstatus[' + id + ']');
            orderstatus = orderstatusfield.value;
            MailStatus(id, orderstatus, false)
            PostidSH(id, orderstatus);
        }
    }

    function OrderstatusChange(id) {
        elid = 'orderstatus[' + id + ']';
        orderstatusel = document.getElementsByName(elid);
        orderstatus = orderstatusel.item(0).value;
        MailStatus(id, orderstatus, true);
        ssoname = 'sso[' + id + ']';
        val = document.getElementsByName(ssoname);
        val.item(0).checked = true;
        PostidSH(id, orderstatus);
    }

    function PostidSH(id, status) {
        row = document.getElementsByName('postid[' + id + ']');
        if (status >= 5) {
            row.item(0).style.display = 'table-row';
        }
        else {
            row.item(0).style.display = 'none';
        }

    }

    function MailStatus(id, orderstatus, check) {
        smaname = 'sma[' + id + ']';
        smastatusel = document.getElementsByName(smaname);
        if ((orderstatus >= 2) && (orderstatus <= 5)) {
            smastatusel.item(0).hidden = false;
            smastatusel.item(0).disabled = false;
            if (check) smastatusel.item(0).checked = true;
        }
        else {
            smastatusel.item(0).checked = false;
            smastatusel.item(0).disabled = true;
            smastatusel.item(0).hidden = true;
        }
    }

</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
<b>Фильтр списка заказов</b>
<select name="filter" id="filter" onChange="SelectFilterChange()">
    <option value = "0" %statuses0_selected%>Не оформлен</option>
    <option value = "1" %statuses1_selected%>Оформлен, не подтвержден</option>
    <option value = "2" %statuses2_selected%>Подтвержден, не оплачен</option>
    <option value = "3" %statuses3_selected%>Оплачен, в обработке</option>
    <option value = "4" %statuses4_selected%>В доставке</option>
    <option value = "5" %statuses5_selected%>Доставлен</option>
    <option value = "6" %statuses6_selected%>Отменен</option>
    <option value="7" %statuses7_selected%>Все</option>

</select><br>

     <br/>
<form action="%form_action%" method="post" name="orders">
<table class="admin_table" name="tab">
    <thead>
        <tr>
            <th width="30"></th>
            <th>ID</th>
            <th>[#catalog_order_updated#]</th>
            %header_lines%
            <th width="30">[#catalog_order_status#]</th>
            <th width="30">[#catalog_order_status_notify#]</th>
            <th>[#catalog_items_all_list_table_action#]</th>
		</tr>
    </thead>
    <tbody>
    %rows%
    </tbody>
</table>
<script type="text/plain">MailBoxes();</script>
%pages%



<fieldset style="border-top:1px solid #ededed; padding-top:10px;">
 <button  type ="button" class="checkallbtn" onclick="return checkall(); ">[#catalog_items_all_list_table_action_check_all#]</button>&nbsp;&nbsp;<button  type ="button"  onclick="return uncheckall();">[#catalog_items_all_list_table_action_uncheck_all#]</button>
</fieldset>

 <input type="hidden" name="group_id" value="%group_id%">
 [#catalog_items_all_list_table_action_with_sel#]:
<select name="withselected" id="withselected" onChange="WithselectedChange()">
  <option value="none">[#catalog_items_all_list_table_action_no#]</option>
  <option value="delete_selected">[#catalog_items_all_list_table_action_del_sel#]</option>
    <option value="0" %statuses0_selected%>[#catalog_order_status_not_furnished#]</option>
    <option value="1" %statuses1_selected%>[#catalog_order_status_confirm#]</option>
    <option value="2" %statuses2_selected%>[#catalog_order_status_confirmed#]</option>
    <option value="3" %statuses3_selected%>[#catalog_order_status_payment#]</option>
    <option value="4" %statuses4_selected%>[#catalog_order_status_shipping#]</option>
    <option value="5" %statuses5_selected%>[#catalog_order_status_delivered#]</option>
    <option value="6" %statuses6_selected%>[#catalog_order_status_canceled#]</option>
</select>
  <input type="submit" name="exec" value="[#catalog_items_all_list_table_action_with_sel_go#]">
</form>
</form>

<!-- @header_row -->
<th>%fullname%</th>
<!-- @row -->
<tr>
    <td align="center"><input class="sso" type="checkbox" id="sso" name="sso[%id%]"></td>
    <td>%id%</td>
    <td>%lastaccess%</td>
    %order_fields%
    <td>%status%</td>
    <td align="center"><input class="sma" type="checkbox" id="sma" name="sma[%id%]"></td>
    <td><a href="#" onclick="jspub_click('show_order&id=%id%')"><img src="templates/default/images/eye.gif" alt="просмотр   "></a></td>
</tr>
<tr id="postid[%id%]" name="postid[%id%]" style="display:none">
<td>ИПО</td><td colspan="5"><input type="text" size="32" id="pid[%id%]" name="pid[%id%]" value="%postid%"></td>
</tr>
<!-- @order_field_value -->
<td>%value%</td>

<!-- @pages -->
%first% %backward% %previous% %pages_block% %next% %forward% %last%

<!-- @page_first -->
<a href="#" onclick="jspub_click('%url%')">Начало</a>
<!-- @page_backward-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_backward_disabled-->
&laquo;
<!-- @page_previous-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_previous_disabled-->
&laquo;
<!-- @page_forward-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_forward_disabled-->
&raquo;
<!-- @page_next-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_next_disabled-->
&raquo;
<!-- @page_last -->
<a href="#" onclick="jspub_click('%url%')">Конец</a>
<!-- @page_active -->
<a href="#" onclick="jspub_click('%url%')">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;

<!-- @page_null -->

