<!--
Шаблон списка товаров

Содержит секции и переменные:

@setprop - Определяет внешний вид свойства "SET", где `setprop` - id свойства товара
@setprop_val - Определяет внешний вид выбранного значения свойства "SET", где `setprop` - id свойства товара 
@setprop_empty - Определяет внешний вид не выбранного значения свойства "SET", где `setprop` - id свойства товара (необязательное)
@setprop_separator, @item_sets_separator - Определяет внешний вид разделителя опций свойства "SET", где `setprop` - id свойства товара (необязательное)
@setprop_null - Определяет, что будет выводиться вместо свойства "SET" товара, если оно не заполнено, где `setprop` - id свойства товара

@list - формирование списка товаров
%total_in_cat% - Возвращает количество товаров в каталоге товаров
%row% - переменная, которая будет заменена на блок @row, столько раз, сколько товаров в категории
@row_odd - Определяет внешний вид товаров, имеющих нечетный номер в списке товаров
@row_even - Определяет внешний вид товаров, имеющих четный номер в списке товаров
%odd_even%	-	Переменная, которая принимает значение «row_odd» или «row_even» в зависимости от того - четная или нечетная строка в таблице. Удобно использлвать для задания класса строки таблицы, чтобы добиться чередования. В таком случае, можно исаользовать только одну секцию %row%
@category_catproperty 	category_catproperty_value 	- 	Определяет внешний вид свойства catproperty категории
@property 	property_value 	- 	Определяет внешний вид свойства property товарной группы
@property_null 	- Определяет, что будет выводиться вместо свойства товара, если оно не заполнено в базе
@row_delimeter 	- Определяет внешний вид разделителя товаров
Поле картинки	myimage_width	-	Возвращает длинну картинки
Поле картинки	myimage_heigh	-	Возвращает высоту картинки
@pages 	- Выводиться вместо переменной pages в блоке @list в том случае, если в сформированном архиве необходима постраничная навигация. Переменная page_block заменяется набором блоков @page_active и @page_passive (количество блоков соответствует количеству страниц в блоке) соединённых последовательно, между которым вставляется блок @delimiter.
%compare_link% - Перменная, которая содержит ссылку на сравнение товара
%basket_link% - Перменная, которая содержит ссылку на добавление товара в корзину
 -->

<!-- ****************************************** Шаблон списка товаров ****************************************** -->

<!-- @list -->
		<p>Всего товаров в категории: %total_in_cat%</p>
				
		<table summary="Каталог" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Картинка</th>
					<th>Название</th>
					<th>Описание</th>
					<th>Цена, руб</th>
					<th>В корзину</th>
				</tr>
			</thead>
%row%
		</table>
		[#compare_sticker#]
%pages%


<!-- ****************************************** Шаблон товара ****************************************** -->

<!-- @row_odd -->
			<tr>
				<td><img src="%image_small%" alt="%name_value%" /></td>
				<td><a href="%link%" title="%name_value%">%name_value%</a></td>
				<td>%description_value% %setprop%</td>
				<td>%price_value%</td>
                <td><noindex><a href="%compare_link%">Сравнить</a><br/><br/><a href="%basket_link%">В корзину</a></noindex></td>
			</tr>
<!-- @row_even -->
			<tr class="even">
				<td><img src="%image_small%" alt="%name_value%" /></td>
				<td><a href="%link%" title="%name_value%">%name_value%</a></td>
				<td>%description_value% %setprop%</td>
				<td>%price_value%</td>
                <td><noindex><a href="%compare_link%">Сравнить</a><br/><br/><a href="%basket_link%">В корзину</a></noindex></td>
			</tr>


<!-- @setprop --><ul>%setprop_value%</ul>
<!-- @setprop_val --><li class="active">%setvalue%
<!-- @setprop_empty --><li>%setvalue%
<!-- @setprop_separator --></li>
<!-- @setprop_null -->

<!-- ****************************************** Шаблон постраничной навигации ****************************************** -->
<!--
Секции:

@page_first - 	Заменяется переменная first в блоке @pages, в том случае, если мы находимся не на самой первой странице. Используется для формирования ссылки перехода к этой самой первой странице.
@page_backward - 	Заменяется переменная backward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница не входит в первый из них.
@page_previous - 	Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы и необходимо вывести ссылку на предыдущую страницу относительно текущей.
@page_previous_disabled - Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы, но текущая страница является первой и значит, что предыдущей страницы нет.
@page_next - Заменяется переменная next в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к следующей странице, относительно текущей.
@page_next_disabled - Заменяется переменная next в блоке @pages, в том случае, если мы находимся на самой первой странице.
@page_forward - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница в любом из них, кроме последнего.
@page_forward_disabled - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в последний из них.
@page_last 	- Заменяется переменная last в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к этой самой последней странице.
@page_active - Используется для формирования переменной page_block в блоке @pages. Формируется для страницы списка товаров, на которую может перейти пользователь (то есть не для текущей страницы).
@page_passive - Используется для формирования переменной page_block в блоке @pages. Формируется для странице списка товаров, на которой сейчас находиться пользователь сайта (то есть для текущей страницы).
@page_delimeter - Используется для формирования переменной page_block в блоке @pages, Разделяет блоки @page_active и @page_passive друг от друга.
@page_null - Используется в том случае, если страниц так много, что необходимо показывать не все из них.
-->

<!-- @pages -->
		<p>
			%first%
			%backward%
			%previous%
			%pages_block%
			%next%
			%forward%
			%last%
		</p>
<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->
