<!-- @list -->
<h3>Список желаний</h3>
<ul>
%rows%
</ul>
<p>Всего товаров: %total%</p>

<!-- @list_null -->
<h3>В списке желаний нет товаров</h3>

<!-- @row -->
<li>
	<h4>%id%</h4>
	<h4>%itemid%</h4>
	<h4>%link%</h4>
	<h4>%name_value%</h4>
	%title_value%<br/>
	%photo_value%
</li>