<!-- @begin -->
<span class="content_header">[#templates_main_label#] &rarr; <span class="black">[#templates_structure_label#]</span></span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#templates_structure_list#]</h3>
			<form action="%form_action%" method="POST" name="templates_list" id="templates_list">
				<table class="admin_table" style="margin-bottom:10px;">
					<tr>
						<th>&nbsp;</th>
						<th>[#templates_list_path#]</th>
						<th>[#templates_list_uses#]</th>
						<th>[#templates_list_options#]</th>
					</tr>
<!-- @row -->
					<tr>
						<td><input type="checkbox" name="template[%id%]" value="%id%"></td>
						<td style="text-align:left"><a href="javascript:void(0);" onclick="jspub_click('structure_template&path=%template_path%&redirect=structure_template')" title="[#templates_list_edit_link#]">%template_path%</a></td>
						<td>%is_uses%</td>
						<td>%options%</td>
					</tr>
<!-- @end -->
				</table>
			</form>
		</div>
	</div>
</div>
<!-- @edit_link -->
<a href="javascript:void(0);" onclick="jspub_click('structure_template&path=%template_path%&redirect=structure_template')" title="[#templates_list_edit_link#]"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#templates_list_edit_link#]"/></a>
<!-- @clone_link -->
<a href="javascript:void(0);" onclick="jspub_click('template_clone&path=%template_path%&redirect=structure_template')" title="[#templates_list_clone_link#]"><img src="/admin/templates/default/images/eye_old.gif" alt="[#templates_list_clone_link#]"/></a>
<!-- @delete_link -->
<a href="javascript:void(0);" onclick="jspub_confirm('template_delete&path=%template_path%&redirect=structure_list','[#templates_list_delete_link_alert#] %template_path% ?')" title="[#templates_list_delete_link#]"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#templates_list_delete_link#]"/></a>
<!-- @not_uses -->
<img src="/admin/templates/default/images/24-em-check-gray.gif" />
<!-- @uses -->
<img src="/admin/templates/default/images/24-em-check.gif" />