<!--
Форма авторизации на сайте

В нее вводят логин и пароль зарегистрированные пользователи, чтобы попасть в закрытую зону.

Секции:
@begin - шапка
@login - сама форма
@end - подвал
@captcha, @recaptcha - форма капчи/рекапчи


@exit - форма выхода из админки

Сообщения
@inc_login - неправильный логин
@disabled_by_admin - забанен админом
@verifying - не подтвержден e-mail
@incorrect_captcha - не пройдена капча
@unknown_err - неизестная ошибка

 -->

<!-- ****************************************** Шаблоны формы авторизации ****************************************** -->

<!-- @begin -->

<!-- @login -->
<div id="auth_field_form">
    <form id="login" action="/%personal%.html" method="POST">
		<input type="hidden" name="redirect2page" value="%redirect2page%" />

        <table>
            <tr>
                <td><label>Логин</label></td>
                <td><input class="input-text" type="text" name="login"/></td>
            </tr>
            <tr>
                <td><label>Пароль</label></td>
                <td><input class="input-text" type="password" name="pass" /></td>
            </tr>
            %captcha%
            <tr>
                <td><input class="input-button" type="submit" value="OK" /></td>
                <td><a href="/reg.html">Регистрация</a><br /><a href="/ilostmypass.html" title="">Забыли пароль?</a></td>
            </tr>
        </table>
	</form>
</div>			
<!-- @end -->

<!-- @recaptcha -->
<tr>
    <td width="200" align="left" valign="top" ><label for="auth_recaptcha">Антиспам защита:</label></td>
    <td align="left" valign="top">
        <div id="auth_recaptcha" class="g-recaptcha" data-recaptcha="%recaptcha_key%"></div>
    </td>
</tr>
<!-- @captcha -->
<tr>
    <td width="200" align="left" valign="top" ><label for="auth_captcha">Введите цифры с картинки:</label></td>
    <td align="left" valign="top">
        <img src="%captcha_img_url%" width="125" height="41" alt="captcha" />
        <input id="auth_captcha" type="text" class="text" name="captcha" value="" />
    </td>
</tr>

<!-- @empty_fields -->
<p>Не все поля заполнены</p>
<!-- @inc_login -->
<p>Нет такого  пользователя! Неправильное сочетание Логина и пароля!<br> <a href="/ilostmypass.html">Забыли пароль?</a></p>

<!-- @disabled_by_admin -->
<p>Пользователь отключен администратором</p>

<!-- @verifying -->
<p>Пользователь зарегистрирован, но еще не подтвержден E-mail</p>

<!-- @incorrect_captcha -->
<p>Вы не прошли проверку на робота!</p>

<!-- @unknown_err -->
<p>Неизвестная ошибка авторизации пользователя</p>


<!-- ****************************************** Шаблоны формы выхода из кабинета ****************************************** -->
<!-- @exit -->
<div id="auth_field_form">
				<form id="login" action="/index.html" method="POST">
				<input type="hidden" name="exit" value="1">
					<table>
						<tr>
							<td>Здравствуйте, <a href="/%personal%.html">%name%</a>&nbsp;!</td>
							<td><input type="submit" value="Выйти"></td>
						</tr>
					</table>
				</form>
</div>