<!--
Вывод архива новостей

Секции:
@content 	- 	Основной блок, которым замещается метка в шаблоне, при вызове действия по формированию ленты. Использует переменную, которая будет заменена на блок @rows, столько раз, сколько новостей в ленте. (Переменная pages используется только в действии «Сформировать архив», при формировании ленты данная переменная игнорируется.)

@no_data 	- Выводиться вместо блока @content в том случае, если не найдено ни одной новости для вывода.
@rows 	(переменные: date, time, url, header, author description_short, description_full 	image, source) - Определяет внешний вид одной новости ленты. Использует достаточно много переменных, часть из которых заменяются другими блоками (image, source).
@image 	image_source, image_thumb, image_big, header 	- 	Выводиться вместо переменной image в блоке @rows, в том случае, если у новости есть главное изображение.
@no_images 	- 	- 	Выводиться вместо переменной image в блоке @rows, в том случае, если у новости не используется главное изображение.
@source 	- 	Выводиться вместо переменной source в блоке @rows, в том случае если у новости определёна ссылка на источник и название источника новости.
@source_no_url - 	Выводиться вместо переменной source в блоке @rows, в том случае если у новости определёно только название источника, а ссылка на сайт источника отсутствует.
@source_no_all 	- 	Выводиться выводится вместо переменной source в блоке @rows, в том случае, если у новости не определёно ни название источника, ни ссылка на него.

@category - Выводиться в блоке @rows вместо переменной `category` и определяет рубрику записи (содержит/заменяет переменные: id, link, name у рубрики)
@category_null - Выводиться в блоке @rows вместо переменной `category`, если рубрика для записи не определена
@tags - Выводиться в блоке @rows вместо переменной `tags` и определяет теги записи (содержит/заменяет переменную list @tags_link в каждой итерации) 
@tags_null - Выводиться в блоке @rows вместо переменной `tags` в блоке @rows, если теги для записи не определены
@tags_link - Выводиться в блоке @tags вместо переменной `list`, и определяет внешний вид ссылки тега записи (содержит/заменяет переменные: id, link, name у тега)
@tags_delimiter - Выводиться в блоке @tags вместо переменной `list`, и определяет разделитель между ссылками тегов


 -->

<!-- ****************************************** Шаблоны архива новостей ****************************************** -->

<!-- @content -->
		<div id="news" class="content hyphenate">
			<p class="title">Новости</p>
			<ul>
%rows%
			</ul>
%pages%
		</div>
<!-- @rows -->
				<li>
					<small>%date%</small>
					<a href="%url%" title="%header%">%header%</a>
					<p>%description_short%</p>
                    %category%
                    %tags%
				</li>
<!-- @category --><span><i class="fa fa-folder-open"></i> <a href="%link%" rel="category">%name%</a></span>
<!-- @category_null --><span><i class="fa fa-folder-open"></i> Без рубрики</span>
<!-- @tags --><span><i class="fa fa-tags"></i> %list%</span>
<!-- @tags_null -->
<!-- @tags_link --><a href="%link%" rel="tag">%name%</a>
<!-- @tags_delimiter -->, <!-- @no_data -->
				<li>
					Нет новостей
				</li>
<!-- @page_no -->

<!--
Вывод постраничной навигации

Секции:
@page_no 	- 	Выводиться вместо переменной pages в блоке @content (Таб. 6) в том случае, если в сформированном архиве нет необходимости использовать блок постраничной навигации.
@page_template 	- 	first, backward, previous, pages_block, next, forward, last 	Выводиться вместо переменной pages в блоке @page_first 	- 	Заменяется переменная first в блоке @page_template, в том случае, если мы находимся не на самой первой странице. Используется для формирования ссылки перехода к этой самой первой странице.
@page_first_disabled 	- 	Заменяется переменная first в блоке @page_template, в том случае, если мы находимся на самой первой странице.
@page_backward 	- 	Заменяется переменная backward в блоке @page_template, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница не входит в первый из них.
@page_backward_disabled 	- 	Заменяется переменная backward в блоке @page_template, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в первый из них.
@page_previous 	- 	Заменяется переменная previous в блоке @page_template, в том случае, если существует более одной страницы и необходимо вывести ссылку на предыдущую страницу относительно текущей.
@page_previous_disabled - 	Заменяется переменная previous в блоке @page_template, в том случае, если существует более одной страницы? но текущая страница является первой и значит, что предыдущей страницы нет.
@page_next - 	Заменяется переменная next в блоке @page_template, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к следующей странице, относительно текущей.
@page_next_disabled 	- 	Заменяется переменная next в блоке @page_template, в том случае, если мы находимся на самой первой странице.
@page_forward 	- 	Заменяется переменная forward в блоке @page_template, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница в любом из них, кроме последнего.
@page_forward_disabled 	- 	Заменяется переменная forward в блоке @page_template, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в последний из них.
@page_last 	- 	Заменяется переменная last в блоке @page_template, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к этой самой последней странице.
@page_last_disabled 	- 	Заменяется переменная last в блоке @page_template, в том случае, если мы находимся на самой последней странице.
@page_active 	- 	Используется для формирования переменной page_block в блоке @page_template, Формируется для страницы архива новостей, на которую может перейти пользователь (то есть не для текущей страницы).
@page_passive 	- 	Используется для формирования переменной page_block в блоке @page_template, Формируется для странице архива новостей, на которой сейчас находиться пользователь сайта (то есть не для текущей страницы).
@page_delimeter - 	Используется для формирования переменной page_block в блоке @page_template, Разделяет блоки @page_active и @page_passive друг от друга.
 -->

<!-- ****************************************** Шаблоны постраничной навигации ****************************************** -->

<!-- @pages -->
%first% %backward% %previous% %pages_block% %next% %forward% %last%
<!-- @page_first -->
<a href="%url%">Начало</a>
<!-- @page_first_disabled -->
Начало&nbsp;
<!-- @page_backward-->
<a href="%url%">&laquo;</a>
<!-- @page_backward_disabled-->
&laquo;
<!-- @page_previous-->
<a href="%url%">&laquo;</a>
<!-- @page_previous_disabled-->
&laquo;
<!-- @page_forward-->
<a href="%url%">&raquo;</a>
<!-- @page_forward_disabled-->
&raquo;
<!-- @page_next-->
<a href="%url%">&raquo;</a>
<!-- @page_next_disabled-->
&raquo;
<!-- @page_last -->
<a href="%url%">Конец</a>
<!-- @page_last_disabled -->
Конец
<!-- @page_active -->
<a href="%url%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;

<!--
Вывод полного отображения новости

Секции:
@fulltext 	(переменные: date, time, header, description_short, description_full, author, url_back 	image, source) - 	Основной блок, который заменяет метку, к которой привязано действие «Сформировать архив».
@fulltext_image 	(переменные: image_source, image_thumb, image_big, header _	- 	Выводиться вместо переменной image в блоке @fulltext, в том случае, если у новости есть главное изображение.
@fulltext_no_images  - 	Выводиться вместо переменной image в блоке @fulltext, в том случае, если у новости нет главного изображения.
@fulltext_source 	source_url, source_name 	- 	Выводиться вместо переменной source в блоке @fulltext, в том случае, если у новости есть название источника и ссылка на сайт источника.
@fulltext_source_no_url 	source_name 	- 	Выводиться вместо переменной source в блоке @fulltext, в том случае, если у новости есть название источника, но нет ссылки на сайт.

@fulltext_category - Выводиться в блоке @fulltext вместо переменной `category` и определяет рубрику записи (содержит/заменяет переменные: id, link, name у рубрики)
@fulltext_category_null - Выводиться в блоке @fulltext вместо переменной `category`, если рубрика для записи не определена
@fulltext_tags - Выводиться в блоке @rows вместо переменной `tags` и определяет теги записи (содержит/заменяет переменную list @tags_link в каждой итерации) 
@fulltext_tags_null - Выводиться в блоке @fulltext вместо переменной `tags` в блоке @rows, если теги для записи не определены
@fulltext_tags_link - Выводиться в блоке @fulltext_tags вместо переменной `list`, и определяет внешний вид ссылки тега записи (содержит/заменяет переменные: id, link, name у тега)
@fulltext_tags_delimiter - Выводиться в блоке @fulltext_tags вместо переменной `list`, и определяет разделитель между ссылками тегов

 -->

<!-- ****************************************** Шаблоны полного отображения новости ****************************************** -->

<!-- @image -->
<img src="%image_thumb%" border="0" alt="%header%" align="left" title="%header%"/>
<!-- @no_images -->
<div style="width:100; height:100; float:left; border:#999999 solid 1px;">Нет изображения</div>

<!-- @source -->
<a href="%source_url%">%source_name%</a>
<!-- @source_no_url -->
%source_name%

<!-- @fulltext -->
		<div class="content hyphenate">
			<p><small>%date%</small></p>
			<h3>%header%</h3>
			%image%
			%description_full%
			<hr />
			<p>%author% %source% %category% %tags%</p>
			<p><a href="%url_back%" title="Назад">Назад</a></p>
        </div>
<!-- @fulltext_image -->
<a href="%image_big%"><img src="%image_thumb%" border="0" alt="%header%" align="left" title="%header%"/></a>
<a href="%image_source%"><img src="%image_thumb%" border="0" alt="%header%" align="left" title="%header%"/></a>
<!-- @fulltext_no_image -->
<div style="width:100; height:100; float:left; border:#999999 solid 1px;">Нет изображения</div>
<!-- @fulltext_source -->
(<a href="%source_url%" title="%source_name%">%source_name%</a>)
<!-- @fulltext_source_no_url -->
(%source_name%)

<!-- @fulltext_category --><span><i class="fa fa-folder-open"></i> <a href="%link%" rel="category">%name%</a></span>
<!-- @fulltext_category_null --><span><i class="fa fa-folder-open"></i> Без рубрики</span>
<!-- @fulltext_tags --><span><i class="fa fa-tags"></i> %list%</span>
<!-- @fulltext_tags_null -->
<!-- @fulltext_tags_link --><a href="%link%" rel="tag">%name%</a>
<!-- @fulltext_tags_delimiter -->, <!-- @no_data -->