<!-- @content --><h3>%header%</h3>
                            <ul id="cats-list">
                                %rows%
                            </ul>
<!-- @rows --><li><a href="%url%">%name% %counter%</a></li>
<!-- @rows_active --><li class="active"><a href="%url%">%name% %counter%</a></li>
<!-- @rows_all --><li><a href="%url%">Все публикации %counter%</a></li>
<!-- @rows_all_active --><li class="active"><a href="%url%">Все публикации %counter%</a></li>
<!-- @no_data -->
<!-- @counter -->(%count%)<!-- @counter_null --> (0)